@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'pretendard'
}
header{
    position: absolute;
    z-index: 99999999999;
    width: 100vw;
    padding: 10px 100px;
    box-shadow: 0 0 20px #00000015;
    background-color: #fff;
}
#title{
    display: flex;
    color: #36f;
    align-items: center;
    font-size: 23px;
    gap: 5px;
    > img{
        width: 30px;
    }
}

.wave{
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
}

#slogan{
    position: absolute;
    top: 45px;
    padding: 250px 10%;
    text-align: start;
    > h1{
        font-size: 45px;
        font-weight: 900;
    }
    > h2{
        color: #ddd
    }
}

.button{
    display: flex;
    position: relative;
    width: 150px;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;

    > img{
        width: 18px;
    }
    &.blue{
        color: #fff;
        background-color: #36f;
    }
    &.white{
        color: #36f;
        background-color: #fff;
    }
}

.bot{
    position: absolute;
    top: 50px;
    padding: 5%;
    display: flex;
    > img{
        width: 90px;
        height: 90px;
        border-radius: 100%;
    }
}
.tag{
    display: flex;
    align-items: center;
    gap: 10px;
    > b{
        font-size: 28px;
        font-weight: 900;

        &.white{
            color: #181818;
        }
    }
    > img{
        width: 50px;
    }
}

.content{
    color: #fff;
    &.white{
        color: #36f;
    }
    margin-left: 10px;
    margin-top: 10px;
    > p{
        margin-top: 5px;
        font-size: 25px;
        text-align: start;
        color: #fff;

        &.white{
            color: #181818;
        }
        padding-left: 2px;
        max-inline-size: 700px;
        /* max-width: 700px; */
        text-wrap: balance;
    }
}